<script setup lang="ts">
import {type Product} from '@/types/Product'

import ProductList from '@/components/ProductList.vue';
import { nextTick, ref } from 'vue';
import { type ReceiptItem } from '@/types/ReceiptItem'
import ReceiptDetailTable from './ReceiptDetailTable.vue';
import ReceiptCard from './ReceiptCard.vue';
import ReceiptDialog from './ReceiptDialog.vue';
import { useReceiptStore } from '@/stores/receipt'
import MemberCard from './MemberCard.vue';
import { provide } from 'vue';
const dialog = ref(false)
provide('receiptDialog',dialog)
const receiptStore = useReceiptStore()
const tab = ref(1)
const showReceipt = function (){
    receiptStore.showReceiptDialog()
}
const divReceiptItems = ref<HTMLElement | null>(null)
const products1:Product[] = [
    {
        id: 1,
        name: 'ลาเต้ ร้อน',
        price: 35.00,
        type: 1
    },{
        id: 2,
        name: 'ลาเต้ ร้อน',
        price: 40.00,
        type: 1
    },{
        id: 3,
        name: 'ลาเต้ ร้อน',
        price: 35.00,
        type: 1
    },{
        id: 4,
        name: 'ลาเต้ ร้อน',
        price: 45.00,
        type: 1
    },{
        id: 5,
        name: 'ลาเต้ ร้อน',
        price: 60.00,
        type: 1
    },{
        id: 6,
        name: 'ลาเต้ ร้อน',
        price: 55.00,
        type: 1
    },{
        id: 7,
        name: 'ลาเต้ ร้อน',
        price: 75.00,
        type: 1
    },{
        id: 8,
        name: 'ลาเต้ ร้อน',
        price: 42.00,
        type: 1
    },{
        id: 9,
        name: 'ลาเต้ ร้อน',
        price: 58.00,
        type: 1
    }
]
const products2:Product[] = [
    {
        id: 1,
        name: 'ลาเต้ ร้อน',
        price: 35.00,
        type: 2
    },{
        id: 2,
        name: 'ลาเต้ ร้อน',
        price: 40.00,
        type: 2
    }
]
const products3:Product[] = [
    {
        id: 1,
        name: 'ลาเต้ ร้อน',
        price: 35.00,
        type: 3
    },{
        id: 2,
        name: 'ลาเต้ ร้อน',
        price: 40.00,
        type: 3
    },{
        id: 3,
        name: 'ลาเต้ ร้อน',
        price: 35.00,
        type: 3
    }
]
const selected = (p:Product) => {
    console.log('ProductView:: ' + p)
    receiptStore.addReceiptItem(p)
    nextTick(() => {
        if (divReceiptItems.value) divReceiptItems.value.scrollTo(0,divReceiptItems.value.scrollHeight)
    })
    
}



</script>

<template>
    <v-container>
    <v-row>
        <v-col cols="12" md="6">
        <v-container style="padding: 0;">
            <v-row >
            <v-col cols="12">
                <div ref="divReceiptItems" style="height: 300; overflow: auto;">
                <v-sheet min-width="175" max-width="730" height="278" elevation="6" >
                    <ReceiptDetailTable></ReceiptDetailTable>
                </v-sheet>
            </div>
            </v-col>
            <v-col cols="12">
                <v-sheet min-width="175" max-width="730" height="70" elevation="6">
                    <MemberCard></MemberCard>
                </v-sheet>
            </v-col>
            <v-col cols="12">
                <v-sheet min-width="175" max-width="730" height="130" elevation="6">
                    <ReceiptCard></ReceiptCard>
                </v-sheet>
            </v-col>
            <v-col cols="12">
                <v-sheet min-width="175" max-width="730" height="80" elevation="6">
                    <v-container>
                        <v-row>
                            <v-col cols="12" sm="6">
                                <v-btn block rounded="x1" size="large" >ยกเลิก</v-btn>
                            </v-col>
                            <v-col cols="12" sm="6">
                                <v-btn block rounded="x1" size="large" @click="showReceipt">ชําระเงิน</v-btn>
                            </v-col>
                        </v-row>
                    </v-container>
                </v-sheet>
            </v-col>
            </v-row>
        </v-container>
        </v-col>
        <v-col cols="12" md="6">
        <v-sheet min-width="175" max-width="730" height="630" elevation="6">
            <v-tabs
      v-model="tab"
      color="deep-purple-accent-4"
      align-tabs="center"
    >
      <v-tab :value="1">เครื่องดื่ม</v-tab>
      <v-tab :value="2">ขนม</v-tab>
      <v-tab :value="3">นํ้า</v-tab>
    </v-tabs>
        <v-window v-model="tab">
        <v-window-item :value="1">
        <ProductList :products="products1" @selected-product="selected"></ProductList></v-window-item>
        <v-window-item :value="2">
        <ProductList :products="products2" @selected-product="selected"></ProductList></v-window-item>
        <v-window-item :value="3">
        <ProductList :products="products3" @selected-product="selected"></ProductList></v-window-item>
        </v-window>
        </v-sheet></v-col>
    </v-row>
    </v-container>
    <ReceiptDialog></ReceiptDialog>
</template>